{{#if resData}}
  <div class="accordion" id="accordionExample">
    <div class="container">
      <div class="card card-body mb-3">
        <form action="/csv">
          <input type="submit" value="CSV" class="btn btn-dark mb-3" />
        </form>
      </div>
      {{#each resData}}
        <div class="card mb-1">
          <div class="card-header" id="heading{{this.nip}}">
            <h2 class="mb-0">
              <button
                class="btn btn-link"
                type="button"
                data-toggle="collapse"
                data-target="#id{{this.nip}}"
                aria-expanded="true"
                aria-controls="id{{this.nip}}"
              >
                {{this.name}}
              </button>
            </h2>
          </div>
          <div
            id="id{{this.nip}}"
            class="collapse"
            aria-labelledby="heading{{this.nip}}"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              NIP:
              {{this.nip}}
              <br />
              <br />
              Status:
              {{this.status}}
              <br />
              <br />
              Working address:
              {{this.workingAddress}}
              <br />
              <br />
              Accounts:
              {{#each this.accountNumbers}}
                <li>
                  {{this}}
                </li>
              {{/each}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{else}}
  <div class="container">
    <div class="card card-body mb-3">
      {{singleResp.name}}
      <br />
      <br />
      NIP:
      {{singleResp.nip}}
      <br />
      <br />
      Status:
      {{singleResp.statusVat}}
      <br />
      <br />
      Working address:
      {{singleResp.workingAddress}}
      <br />
      <br />
      Accounts:
      {{#each singleResp.accountNumbers}}
        <li>
          {{this}}
        </li>
      {{/each}}
    </div>
  </div>
{{/if}}