<div class="accordion" id="accordionExample">
  <div class="container">
    {{#each resData}}
      <div class="card-body mb-3">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button
              class="btn btn-link"
              type="button"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              {{this.name}}
            </button>
          </h2>
        </div>
        <div
          id="collapseOne"
          class="collapse show"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            NIP:
            {{this.nip}}
            <br />
            <br />
            Residence address:
            {{this.residenceAddress}}
            <br />
            <br />
            Working address:
            {{this.workingAddress}}
            <br />
            <br />
            Status:
            {{this.status}}
            <br />
            <br />
            Accounts:
            {{#each this.accountNumbers}}
              <li>
                {{this}}
              </li>
            {{/each}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>