{{#if resData}}
  <div class="container">
    {{#each resData}}
      <div class="card card-body mb-3">
        {{this.name}}
        <br />
        <br />
        NIP:
        {{this.nip}}
        <br />
        <br />
        Residence address:
        {{this.residenceAddress}}
        <br />
        <br />
        Working address:
        {{this.workingAddress}}
        <br />
        <br />
        Status:
        {{this.status}}
        <br />
        <br />
        Accounts:
        {{#each this.accountNumbers}}
          <li>
            {{this}}
          </li>
        {{/each}}
      </div>
    {{/each}}
  </div>
{{else}}
  <div class="container">
    <div class="card card-body mb-3">
      {{resData}}
    </div>
  </div>
{{/if}}