{{#if resData}}
  <div class="container">
    <div class="card card-body mb-3">
      {{this.name}}
      <br />
      <br />
      NIP:
      {{resData.nip}}
      <br />
      <br />
      Residence address:
      {{resData.residenceAddress}}
      <br />
      <br />
      Working address:
      {{resData.workingAddress}}
      <br />
      Status:
      {{resData.status}}
      <br />
      Accounts:
      {{#each resData.accountNumbers}}
        <li>
          {{this}}
        </li>
      {{/each}}
    </div>
  </div>
{{else}}
  <div class="container">
    <div class="card card-body mb-3">
      {{resData}}
    </div>
  </div>
{{/if}}